@import "elr-scss-functions/src/main";
@import "elr-scss-config/src/main";
// Pagination

@mixin elr-pagination($config: ()) {
  $config: extend(
    (
      link-color: $primary-color,
      accent-color: $secondary-color,
      font-size: $base-fontsize * 0.875,
    ),
    $config
  );

  $link-color: map-get($config, link-color);
  $accent-color: map-get($config, accent-color);
  $font-size: map-get($config, font-size);

  width: 100%;
  display: flex;
  justify-content: space-between;

  .pagination-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .pagination-list-item {
    display: block;
    padding: 0 ($base-fontsize * 0.25);

    // &:not(.prev-pager):not(.next-pager) {
    //   flex: 1;
    // }

    &.prev-pager,
    &.next-pager {
      flex-basis: 80px;

      a {
        display: block;
        width: 80px;
        text-align: center;
      }

      i {
        font-size: 90%;
      }
    }

    &.prev-pager i {
      margin-right: ($base-fontsize * 0.5);
    }

    &.next-pager i {
      margin-left: ($base-fontsize * 0.5);
    }

    .pagination-placeholder {
      display: block;
      font-size: 18px;
      position: relative;
      top: -($base-fontsize * 0.25);
    }
  }

  a {
    color: $link-color;
    text-decoration: none;
    display: block;
    transition: color 0.3s;
    padding: ($base-fontsize * 0.25);
    margin: 0 ($base-fontsize * 0.25);
    font-size: $font-size;
    line-height: 1;

    &:hover:not(.disabled):not([disabled]) {
      color: $accent-color;
    }

    &.disabled,
    &[disabled] {
      cursor: not-allowed;
      color: $gray;
    }

    &.active {
      color: $accent-color;
    }
  }
}

// TODO: pagination "buttons" with rounded or square links

@mixin elr-pagination-bar($config: ()) {
  $config: extend(
    (
      background-color: $white,
      border-radius: $border-radius,
      border-color: $light-gray,
      color: $primary-color,
      accent-color: $secondary-color,
    ),
    $config
  );

  $background-color: map-get($config, background-color);
  $border-radius: map-get($config, border-radius);
  $border-color: map-get($config, border-color);
  $color: map-get($config, color);
  $accent-color: map-get($config, accent-color);

  $border: 1px solid $border-color;

  justify-content: center;

  .pagination-list-item {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;

    &:first-child a {
      border-radius: $border-radius 0 0 $border-radius;

      @if ($border-color) {
        border-left: $border;

        &.disabled,
        &[disabled] {
          border-left: $border;
        }

        &.active {
          border-left: 1px solid $color;
        }

        &:hover:not(.disabled):not([disabled]) {
          border-left: 1px solid lighten($color, 10%);
        }
      }
    }

    &:last-child a {
      border-radius: 0 $border-radius $border-radius 0;

      @if ($border-color) {
        border-right: $border;

        &.disabled,
        &[disabled] {
          border-right: $border;
        }

        &.active {
          border-right: 1px solid $color;
        }

        &:hover:not(.disabled):not([disabled]) {
          border-right: 1px solid lighten($color, 10%);
        }
      }
    }
  }

  a,
  .prev-pager a,
  .next-pager a {
    padding-top: ($base-fontsize * 0.75);
    padding-bottom: ($base-fontsize * 0.75);
    color: $color;
    background-color: $background-color;
    margin-left: 0;
    margin-right: 0;
    transition: color 0.3s ease, background-color 0.3s ease,
      border-color 0.3s ease;

    @if ($border-color) {
      border: $border;
    }

    @if ($border-color) {
      border-left: 0;
      border-right: $border;
    }

    &:hover:not(.disabled):not([disabled]) {
      color: $background-color;
      background-color: lighten($color, 10%);
      transition: color 0.3s ease, background-color 0.3s ease,
        border-color 0.3s ease;

      @if ($border-color) {
        border-top: 1px solid lighten($color, 10%);
        border-bottom: 1px solid lighten($color, 10%);
      }
    }

    &.disabled,
    &[disabled] {
      color: $background-color;
      background-color: $border-color;
      cursor: not-allowed;

      @if ($border-color) {
        border-color: $border-color;
      }
    }

    &.active {
      color: $background-color;
      background-color: $accent-color;

      @if ($border-color) {
        border-top: 1px solid $accent-color;
        border-bottom: 1px solid $accent-color;
      }
    }
  }

  .pagination-list-item:not(.prev-pager):not(.next-pager) a {
    padding-left: $base-fontsize;
    padding-right: $base-fontsize;
  }
}
