@import "elr-scss-functions/src/main";
// Pagination

@mixin elr-pagination($config: ()) {
  $config: extend(
    (
      link-color: #1976d2,
      accent-color: #f81190,
    ),
    $config
  );
  $link-color: map-get($config, link-color);
  $accent-color: map-get($config, accent-color);

  .pagination-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  li {
    display: block;
    padding: 4px;
    flex: 1;

    &.prev-pager,
    &.next-pager {
      flex-basis: 80px;

      a {
        display: block;
        width: 80px;
        text-align: center;
      }
    }
  }

  a,
  .previous-pager,
  .next-pager {
    color: $link-color;
    text-decoration: none;
    display: block;
    transition: color 0.3s;
    padding: 4px;
    margin: 0 4px;

    &:hover {
      color: $accent-color;
    }

    &.disabled,
    &[disabled] {
      cursor: not-allowed;
      color: #666;
    }
  }

  a {
    &.active {
      color: $accent-color;
    }
  }
}

@mixin elr-pagination-bar($config: ()) {
  $config: extend(
    (
      background-color: #fff,
      border-radius: 5px,
      border-color: #ccc,
      color: #1976d2,
      accent-color: #f81190,
      font-size: 14px,
    ),
    $config
  );

  $background-color: map-get($config, background-color);
  $border-radius: map-get($config, border-radius);
  $border-color: map-get($config, border-color);
  $color: map-get($config, color);
  $accent-color: map-get($config, accent-color);
  $font-size: map-get($config, font-size);

  $border: 1px solid $border-color;

  .pagination-list {
    display: flex;
    list-style: none;
  }

  li {
    padding: 0;
    margin: 0;

    &:first-child a {
      border-radius: $border-radius 0 0 $border-radius;

      @if ($border-color) {
        border-left: $border;

        &.disabled,
        &[disabled] {
          border-left: $border;
        }

        &.active {
          border-left: 1px solid $color;
        }

        &:hover:not(.disabled):not([disabled]) {
          border-left: 1px solid lighten($color, 10%);
        }
      }
    }

    &:last-child a {
      border-radius: 0 $border-radius $border-radius 0;

      @if ($border-color) {
        border-right: $border;

        &.disabled,
        &[disabled] {
          border-right: $border;
        }

        &.active {
          border-right: 1px solid $color;
        }

        &:hover:not(.disabled):not([disabled]) {
          border-right: 1px solid lighten($color, 10%);
        }
      }
    }
  }

  a {
    font-size: $font-size;
    padding: 8px 16px;
    color: $color;
    display: block;
    background-color: $background-color;
    text-decoration: none;
    transition: color 0.3s ease, background-color 0.3s ease,
      border-color 0.3s ease;

    @if ($border-color) {
      border: $border;
    }

    @if ($border-color) {
      border-left: 0;
      border-right: $border;
    }

    &:hover:not(.disabled):not([disabled]) {
      color: $background-color;
      background-color: lighten($color, 10%);
      transition: color 0.3s ease, background-color 0.3s ease,
        border-color 0.3s ease;

      @if ($border-color) {
        border-top: 1px solid lighten($color, 10%);
        border-bottom: 1px solid lighten($color, 10%);
      }
    }

    &.disabled,
    &[disabled] {
      color: $background-color;
      background-color: $border-color;
      cursor: not-allowed;

      @if ($border-color) {
        border-color: $border-color;
      }
    }

    &.active {
      color: $background-color;
      background-color: $accent-color;

      @if ($border-color) {
        border-top: 1px solid $accent-color;
        border-bottom: 1px solid $accent-color;
      }
    }
  }
}
