@mixin elr-pagination-links($config: ()) {
    $config: extend((
        color: $link-color,
        border-radius: 5px,
        font-size: 14px,
        centered: false
    ), $config);

    $color: map-get($config, color);
    $border-radius: map-get($config, border-radius);
    $font-size: map-get($config, font-size);
    $centered: map-get($config, centered);

    @if ($centered) {
        text-align: center;
    }

    .previous-pager,
    .next-pager {
        font-size: to-rems($font-size);
        border: 0;
        color: $white;
        background-color: $color;
        padding-left: 20px;
        padding-right: 20px;

        @if ($border-radius == 50%) {
            border-radius: 20px;
        } @else {
            border-radius: $border-radius;
        }

        &:hover {
            border: 0;
            color: $white;
            background-color: lighten($color, 10%);
        }

        &.disabled {
            color: $white;
            background-color: $light-grey;
        }
    }

    li {
        padding: 0;
        margin: 0;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        font-size: to-rems($font-size);
        color: $color;
        padding: 10px 13px;
        margin-right: 5px;
        border-radius: $border-radius;
        transition: color .3s, background-color .3s;
        line-height: 1;

        &.active {
            color: $white;
            background-color: $color;
        }

        &:hover {
            color: $white;
            background-color: lighten($color, 10%);
        }

        &.disabled {
            color: $grey;
            background-color: transparent;
        }
    }
}
